<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Калькулятор</title>
</head>
<body>
    <div class="card">
        <h2>Калькулятор сложного процента</h2>
        <form method="POST" class="calc-form">
            <input name="cpu" placeholder="Ваш CPU" step="any" required>
            <input name="gpu" placeholder="Ваш GPU" step="any" required>
            <input name="ram" placeholder="Ваша RAM (гб)" type="number" step="any" required>
            <button type="submit">Рассчитать</button>
        </form>

    </div>
</body>
</html>